body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Azeret Mono", monospace;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.non__mobile__nav {
  margin-top: -16px;
}
.nav__bar {
  height: 70px;
  background-color: #0f0326;
  border-bottom: 2px solid white;
  box-shadow: -1px 4px 15px #c2b2b26e;
  padding: 10px;
}

.nav__links {
  display: flex;
  list-style: none;
  justify-content: space-between !important;
  padding-right: 30px;
  padding: 14px;
}
.nav__links li {
  padding-left: 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  color: white;
}
.nav__links > li:hover {
  transform: scale(1.1);
}
.nav_cart_alignment > li:hover {
  transform: scale(1.1);
}
.login_header_btn {
  background-color: #41c485 !important;
  font-weight: 600 !important;
  width: 120% !important;
  color: white !important;
}

.nav_cart_alignment {
  display: flex !important;
}

.nav_badge_alignment {
  margin-right: 23px;
}

.nav_badge_nonlogedin {
  margin-right: 23px;
  margin-top: 4px;
}
